<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Food Feed"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.WaitingRequestAuthorityActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChoosingSortModeActivity"
            android:exported="false"
            android:theme="@style/Theme.CS426_final_project_AppCompat" />
        <activity
            android:name=".activities.ReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.CS426_final_project_AppCompat" />

        <receiver
            android:name=".widgets.AppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>

        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.CS426_final_project_AppCompat" />
        <activity
            android:name=".activities.FoodCommentActivity"
            android:exported="false"
            android:theme="@style/Theme.CS426_final_project_AppCompat" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.CS426_final_project_AppCompat" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CS426_final_project_AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>